* {
    font-family: cursive;
    font-weight: 100;
}

/*Styling select  */

#lang {
    border-radius: 5px;
    width: 115px;
    box-shadow: 2px 2px 3px #898989;
}

/* Styling button */

#login {
    border-radius: 5px;
    width: 100px;
    background-color: #8BC34A;
    box-shadow: 2px 2px 4px #998e8e;
}

#signature {
    margin-right: 5px;
    bottom: 0;
    right: 0;
    position: absolute;
    font-size: 14px;
    text-shadow: 5px 4px 12px black;
}